/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define HYPER LC(LS(LG(LALT)))

// layers
#define LAY_DEFAULT 0
#define LAY_LOWER 1
#define LAY_ARROWS 2
#define LAY_MAGIC 3
#define LAY_EMPTY 6

/ {
    behaviors {
        // For the "layer" key, it'd nice to be able to use it as either a shift or a toggle.
        // Configure it as a tap dance, so the first tap (or hold) is a &mo and the second tap is a &to
        layer_td: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_TAP_DANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo LAY_LOWER>, <&to LAY_LOWER>;
        };

        magic: magic_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MAGIC_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
        };
    };

    macros {
        rgb_ug_status_macro: rgb_ug_status_macro_0 {
            label = "RGB_UG_STATUS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&rgb_ug RGB_STATUS>;
        };

        bt_0: bt_profile_macro_0 {
            label = "BT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            label = "BT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            label = "BT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            label = "BT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                //C6L              //C5L           //C4L           //C3L           //C2L           //C1L           //T1L     //T2L     //T3L            //T3R    //T2R     //T1R     //C1R          //C2R        //C3R        //C4R        //C5R           //C6R
                &kp F1             &kp F2          &kp F3          &kp F4          &kp F5                                                                                                           &kp F6       &kp F7       &kp F8       &kp F9          &kp F10
                &kp EQUAL          &kp N1          &kp N2          &kp N3          &kp N4          &kp N5                                                                            &kp N6         &kp N7       &kp N8       &kp N9       &kp N0          &kp MINUS
                &kp TAB            &kp Q           &kp W           &kp E           &kp R           &kp T                                                                             &kp Y          &kp U        &kp I        &kp O        &kp P           &kp BSLH
                &kp ESC            &kp A           &kp S           &kp D           &kp F           &kp G                                                                             &kp H          &kp J        &kp K        &kp L        &kp SEMI        &kp SQT
                &kp GRAVE          &kp Z           &kp X           &kp C           &kp V           &kp B           &kp LSHFT &kp LCTRL &layer_td        &kp LGUI &kp RCTRL &kp RSHFT &kp N          &kp M        &kp COMMA    &kp DOT      &kp FSLH        &kp PG_UP
                &magic LAY_MAGIC 0 &kp HOME        &kp END         &kp LEFT        &kp RIGHT                       &kp BSPC  &kp DEL   &kp LALT         &kp RALT &kp RET   &kp SPACE                &kp DOWN     &kp UP       &kp LBKT     &kp RBKT        &kp PG_DN
                //C6L              //C5L           //C4L           //C3L           //C2L           //C1L           //T1L     //T2L     //T3L            //T3R    //T2R     //T1R     //C1R          //C2R        //C3R        //C4R        //C5R           //C6R
            >;
        };
        lower_layer {
            bindings = <
                //C6L              //C5L           //C4L           //C3L           //C2L           //C1L           //T1L     //T2L     //T3L            //T3R    //T2R     //T1R     //C1R          //C2R        //C3R        //C4R        //C5R           //C6R
                &kp C_BRI_DN       &kp C_BRI_UP    &kp C_PREV      &kp C_NEXT      &kp C_PP                                                                                                         &kp C_MUTE   &kp C_VOL_DN &kp C_VOL_UP &none           &kp PAUSE_BREAK
                &trans             &none           &none           &none           &none           &kp HOME                                                                          &kp LANG1      &kp KP_MINUS &kp KP_EQUAL &kp KP_PLUS  &kp KP_MULTIPLY &none
                &trans             &none           &none           &kp UP          &none           &kp END                                                                           &kp LANG2      &kp KP_N7    &kp KP_N8    &kp KP_N9    &kp KP_DIVIDE   &none
                &trans             &none           &kp LEFT        &kp DOWN        &kp RIGHT       &kp PG_UP                                                                         &kp LANG3      &kp KP_N4    &kp KP_N5    &kp KP_N6    &kp KP_DOT      &kp PRINTSCREEN
                &trans             &kp K_CMENU     &none           &kp F11         &kp F12         &kp PG_DN       &trans    &trans    &to LAY_DEFAULT  &trans   &trans    &trans    &kp LANG4      &kp KP_N1    &kp KP_N2    &kp KP_N3    &kp KP_ENTER    &trans
                &trans             &none           &kp INS         &kp F11         &kp F12                         &trans    &trans    &trans           &trans   &trans    &trans                   &kp KP_N0    &kp KP_N0    &kp LPAR     &kp RPAR        &trans
                //C6L              //C5L           //C4L           //C3L           //C2L           //C1L           //T1L     //T2L     //T3L            //T3R    //T2R     //T1R     //C1R          //C2R        //C3R        //C4R        //C5R           //C6R
            >;
        };
        arrows_layer {
            bindings = <
                //C6L              //C5L           //C4L           //C3L           //C2L           //C1L           //T1L     //T2L     //T3L            //T3R    //T2R     //T1R     //C1R          //C2R        //C3R        //C4R        //C5R           //C6R
                &none              &none           &none           &none           &none                                                                                                            &none        &none        &none        &none           &none
                &none              &none           &none           &none           &none           &none                                                                             &none          &none        &none        &none        &none           &none
                &kp TAB            &none           &kp Q           &kp W           &kp E           &kp R                                                                             &none          &none        &kp UP       &none        &none           &none
                &kp ESC            &kp Z           &kp A           &kp S           &kp D           &none                                                                             &none          &kp LEFT     &kp DOWN     &kp RIGHT    &none           &none
                &none              &kt Z           &none           &none           &none           &none           &trans     &trans   &to LAY_DEFAULT  &trans   &trans    &trans    &none          &none        &none        &none        &none           &none
                &none              &none           &none           &none           &none                           &trans     &trans   &trans           &trans   &trans    &trans                   &none        &none        &none        &none           &none
                //C6L              //C5L           //C4L           //C3L           //C2L           //C1L           //T1L     //T2L     //T3L            //T3R    //T2R     //T1R     //C1R          //C2R        //C3R        //C4R        //C5R           //C6R
            >;
        };
        magic_layer {
            bindings = <
                //C6L              //C5L           //C4L           //C3L           //C2L           //C1L           //T1L     //T2L     //T3L            //T3R    //T2R     //T1R     //C1R          //C2R        //C3R        //C4R        //C5R           //C6R
                &bt BT_CLR         &none           &kp CAPSLOCK    &kp KP_NUMLOCK  &kp SCROLLLOCK                                                                                                   &none        &none        &none        &none           &bt BT_CLR_ALL
                &none              &none           &none           &none           &none           &none                                                                             &to LAY_ARROWS &none        &none        &none        &none           &none
                &none              &rgb_ug RGB_SPI &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_BRI &rgb_ug RGB_TOG                                                                   &none          &none        &none        &none        &none           &none
                &bootloader        &rgb_ug RGB_SPD &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_BRD &rgb_ug RGB_EFF                                                                   &none          &none        &none        &none        &none           &bootloader
                &sys_reset         &none           &none           &none           &none           &none           &bt_2      &bt_3    &none            &none    &none     &none     &none          &none        &none        &none        &none           &sys_reset
                &none              &none           &none           &none           &none                           &bt_0      &bt_1    &out OUT_USB     &none    &none     &none                    &none        &none        &none        &none           &none
                //C6L              //C5L           //C4L           //C3L           //C2L           //C1L           //T1L     //T2L     //T3L            //T3R    //T2R     //T1R     //C1R          //C2R        //C3R        //C4R        //C5R           //C6R
            >;
        };
        empty_layer {
            bindings = <
                //C6L              //C5L           //C4L           //C3L           //C2L           //C1L           //T1L     //T2L     //T3L            //T3R    //T2R     //T1R     //C1R          //C2R        //C3R        //C4R        //C5R           //C6R
                &none              &none           &none           &none           &none                                                                                                            &none        &none        &none        &none           &none
                &none              &none           &none           &none           &none           &none                                                                             &none          &none        &none        &none        &none           &none
                &none              &none           &none           &none           &none           &none                                                                             &none          &none        &none        &none        &none           &none
                &none              &none           &none           &none           &none           &none                                                                             &none          &none        &none        &none        &none           &none
                &none              &none           &none           &none           &none           &none           &none      &none    &to LAY_DEFAULT  &none    &none     &none     &none          &none        &none        &none        &none           &none
                &none              &none           &none           &none           &none                           &none      &none    &none            &none    &none     &none                    &none        &none        &none        &none           &none
                //C6L              //C5L           //C4L           //C3L           //C2L           //C1L           //T1L     //T2L     //T3L            //T3R    //T2R     //T1R     //C1R          //C2R        //C3R        //C4R        //C5R           //C6R
            >;
        };
    };
};
